<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tasks Prediction</title>

      <meta charset="UTF-8">
      <title>ML API</title>
      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  </head>
  <body>
  <p>  <h1>The Task You Selected Is</h1></p>
<h3>{{task}}</h3>

  <p>  <h2>The Possible Tasks are</h2></p>

<table style="width:80%">


<tr>
<th>Tasks</th>
<th>Probablity</th>
<tbody>
{%for i in range(0,11,2)%}
<tr>

<td>{{a[i]}}</td>

<td>{{a[i+1]}}</td>
{%endfor%}
</tr>
  </tbody>
</table>
</ol>
  </body>
</html>
